@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply mx-auto flex w-11/12 max-w-7xl grow flex-col items-center justify-center pt-12;
  }
  h1 {
    @apply mb-4 text-center text-lg font-bold underline decoration-org decoration-8 underline-offset-8 md:text-xl lg:text-2xl;
  }
  h2 {
    @apply text-base font-bold md:text-lg lg:text-xl;
  }
  h3 {
    @apply font-bold;
  }
}

.leaflet-container {
  height: 300px;
  width: 100%;
  @media (min-width: 1024px) {
    height: 384px;
  }
}

.leaflet-popup-content-wrapper {
  background-color: white;
  border: 3px solid #ffbf69;
  height: 3rem;
  display: flex;
  align-items: center;
}

.leaflet-popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-family: 'Gabarito', sans-serif;
  font-size: 0.8rem;
}

.leaflet-popup-content img {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #ffbf69;
}
